body {
  margin: 0;
  --color-gold: #a6842a;
  --color-blue: #143c6d;

  font-family: "Poiret One", cursive;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  #app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  a {
    color: #143c6d;
  }

  p {
    font-family: 'Trebuchet MS',Trebuchet MS,sans-serif;
    font-size: 24px;
  }
  h1 {
    font-size: 56px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 28px;
  }
  h1, h2 {
    color: var(--color-blue);
    a {
      color: var(--color-blue);
    }
  }
  img {
    max-width: 100%;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
  }
  img[width] {
    width: auto; /* Defer to max-width */
  }
  img[width][height] {
    height: auto; /* Preserve aspect ratio */
  }
  
  /* Let SVG scale without boundaries */
  img[src$=".svg"] {
    width: 100%;
    height: auto;
    max-width: none;
  }

}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-to,
.fade-leave {
  opacity: 1;
}